* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;

	scroll-behavior: smooth;
}


body {
	/*	min-height: 467px;*/
	background: linear-gradient(
		rgba(0, 0, 0, 0.0),
		rgba(0, 0, 0, 0.0)
	),
	url("./images/abstract-triangle-wallpaper-2880x1800_8.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}





/* NAV *//* NAV *//* NAV *//* NAV *//* NAV *//* NAV *//* NAV *//* NAV *//* NAV */


#mynav a {
	color: whitesmoke;
}

#mynav {
	background-color: rgb(255 255 255 / 2%);
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #FFFFFF1C;
}


/* LANDING *//* LANDING *//* LANDING *//* LANDING *//* LANDING *//* LANDING *//* LANDING */


#landing-contact i {
	font-size: 1.2rem;
}

#landing {



	color: whitesmoke;

}
#landing h1 {
	
}

#profile-img {
	height: 200px;
}

.bg-smoke {
	z-index: -1;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;

	background-image: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 80%) 50%);
}




/* SECTION 2 *//* SECTION 2 *//* SECTION 2 *//* SECTION 2 *//* SECTION 2 *//* SECTION 2 */

#projects {

	background: linear-gradient(
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 1)
	);
	
	color: white;
}

.card {
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.5); 
	background: rgb(0 0 0 / 40%);
}

.card-logo-top {
/*	max-height: 1.5rem;*/

max-height: 1.5rem;

}

.card-logo-top img {
	max-height: 1.5rem;
}

.card-logo-top a {
	text-decoration: none;
	color: #dcb430;
}


.card-wrapper{
/*	max-width: 32rem;*/

}





/* tools */
/* tools */
/* tools */
#tools {
	background: whitesmoke;
}

#icon-wrapper li{
	width: 3rem;
}

.myIcon {
			/*width: 3rem;
			margin: 1rem;*/
		}

		.myIcon:hover {
			opacity: 0.7; /* Reduced opacity on hover */
		}

		.devtool-img {
			transform: scaleX(-1);
			filter: FlipH;
		}









/* Contact */
/* Contact */
/* Contact */

#contact {
	/*background: #1c293c url("./images/contact.png");
	background-size: 50vh auto ;
	background-repeat: no-repeat;
	background-position: bottom 10% right;
	background-attachment: fixed;*/

	background: #1c293c url("./images/contact.webp");
	background-size: 110vh auto ;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
}

#contact .card {
	background: rgb(0 0 0 / 60%);
}

.c-icon {
	font-size: 2rem;
}



/*footer*/
footer {
	background: white;
}